html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: monospace, Arial, Helvetica, sans-serif;
}

.brown-button {
	-moz-box-shadow: 3px 4px 0px 0px #5D4037;
	-webkit-box-shadow: 3px 4px 0px 0px #5D4037;
	box-shadow: 3px 4px 0px 0px #5D4037;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #A1887F), color-stop(1, #795548));
	background: -moz-linear-gradient(top, #A1887F 5%, #795548 100%);
	background: -webkit-linear-gradient(top, #A1887F 5%, #795548 100%);
	background: -o-linear-gradient(top, #A1887F 5%, #795548 100%);
	background: -ms-linear-gradient(top, #A1887F 5%, #795548 100%);
	background: linear-gradient(to bottom, #A1887F 5%, #795548 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1887F', endColorstr='#795548',GradientType=0);
	background-color: #A1887F;
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	border-radius: 0.3em;
	border: 1px solid #6D4C41;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 0px 1px 0px #8D6E63;
}

.brown-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #795548), color-stop(1, #A1887F));
	background: -moz-linear-gradient(top, #795548 5%, #A1887F 100%);
	background: -webkit-linear-gradient(top, #795548 5%, #A1887F 100%);
	background: -o-linear-gradient(top, #795548 5%, #A1887F 100%);
	background: -ms-linear-gradient(top, #795548 5%, #A1887F 100%);
	background: linear-gradient(to bottom, #795548 5%, #A1887F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#795548', endColorstr='#A1887F',GradientType=0);
	background-color: #795548;
}

.brown-button:active {
	position: relative;
	top: 0.15em;
}

.brown-button:focus {
    outline-color: #D7CCC8;
}

h1 {
    text-align: center;
    font-size: 2em;
    padding: 0.6em;
    text-decoration: underline;
}

.game-status-details {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;   
    padding: 0.3em;
    text-align: center;
}

.move-counter, .timer {
    font-size: 1.3em;
}

.rating {
    font-size: 1.4em;
    color: #FFEA00;
    display: inline;
}

.star {
    margin-left: -10px;
}

.star:first-child{
    margin-left: 0 !important;;
}

.restart-btn {
    background: none;
    border: none;
    color: #000000;
    font-size: 1.6em;
    font-weight: 900;
}

.game-board {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #A1887F;
    border-radius: 0.3em;
    box-shadow: 0 5px 5px #808080;
}

.game-grid-row {
    display: flex;
    flex-wrap: nowrap;
}

.game-card {
    width: 6em;
    height: 6em;
    background-color: #212121;
    border-radius: 0.3em;
    margin: 0.8em;
    box-shadow: 2px 0 10px #212121;
    cursor: pointer;
}

.game-card-img {
    visibility: hidden;
    object-fit: cover;
    width: 6em;
    height: 6em;
}

.restart-button-div {
    max-width: 50%;
    margin: 1.5em auto;
    text-align: center;
}

.restart-button { 
	padding: 0.7em 1.4em;
}

.show-img {
    visibility: visible;
}

.disabled {
    pointer-events: none;
}